/* Styling section one  */
.sectionOne {
  background-image: url("../../public/images/bg-section-3.webp");
  background-size: cover;
  background-position: center;
  padding: 100px 0px;
}
.sectionOne .titleRotation,
.sectionThree .titleRotation {
  position: absolute;
  writing-mode: vertical-rl;
  font-size: 45px;
  left: 0;
  height: 100%;
}
.sectionOne .text {
  width: 50%;
  margin: 0px auto;
}
/* Styling section two  */

.sectionTwo .titleRotation {
  position: absolute;
  writing-mode: vertical-rl;
  font-size: 45px;
  right: 0;
}
.sectionTwo .text {
  width: 80%;
  margin: 0px auto;
}
.backgroundImage {
  background-image: url("../../public/images/mountain_faq_image.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: 20px 0px;
}
.sectionTwo .fullText {
  padding: 100px 0px;
}
/* Styling section three */
.sectionThree {
  padding: 100px 0px 50px 100px;
}

@media (max-width: 991.98px) {
  .sectionOne .titleRotation,
  .sectionTwo .titleRotation,
  .sectionThree .titleRotation {
    position: unset;
    -ms-writing-mode: tb-rl;
    writing-mode: horizontal-tb;
    font-size: 25px;
  }

  .sectionOne .text,
  .sectionTwo .text {
    width: 100%;
  }
  .sectionOne,
  .fullText {
    padding: 15px 0px !important;
  }

  .sectionTwo .backgroundImage,
  .sectionThree .backgroundImage {
    display: none;
  }
  .sectionThree {
    background-image: url("../../public/images/mountain_faq_image_mobile.webp");
    background-size: cover;
    background-position: center;
    padding: 0px 0px 20px 0px;
    /* color: white; */
  }
}

@media (min-width: 1400px) {
  .sectionTwo .text {
    width: 60%;
  }
}
