@import "./global/all.css";

* {
  font-family: var(--proxima-nova);
  transition: all 0.5s ease-out;
}

/* Global styling Button */
.btn {
  box-shadow: none !important;
}

a:hover {
  color: black !important;
  cursor: pointer;
}
p {
  margin-bottom: 0rem;
}
/* border  */
.rounded-20 {
  border-radius: 20px;
}

/* Accordin */
.accordion-button:not(.collapsed)::after {
  display: none !important;
}
.accordion-button::after {
  display: none !important;
}

/* footer */
/* html,
body {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  height: 100%;
} */
